.errorcontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
    
.te{
    font-size: 2rem;
}

.fotoerror{
    width: 70%;
    margin-left: 11rem;

}