.contenido {
  grid-area: contenido;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  background-attachment: fixed;
  background-image: url(../Imagenes/Fondo/fondobody.jpg);
  background-size: cover;
}
