.row {
  border: solid brown;
  margin-bottom: 3rem;
  background-image: linear-gradient(
    to top,
    rgba(14, 136, 109, 0.836),
    rgba(47, 217, 230, 0.829),
    rgba(82, 228, 94, 0.863)
  );
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(2 * var(--bs-gutter-x));
  margin-left: calc(2 * var(--bs-gutter-x));
}

.tc {
  margin-top: 0.3rem;
  padding-left: 26rem;
  padding-right: 27rem;
}
