$colorcard: #a17625f8;
@mixin flex-column-wrap-space-evenly() {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contenedorhabitacion {
  @include flex-column-wrap-space-evenly();
}

.th {
  margin-top: 0.3rem;
  
}

.cuartitos {
  height: 300px;
  width: 445px;
  transition: height 1s, width 1s;
  opacity: 0.8;
}

.cuartitos:hover {
  border: solid black;
  opacity: 1;
}

.card-group {
  margin-bottom: 10%;
  margin-top: 5%;
  width: 100%;
}

.card {
  background-color: $colorcard;
}

