header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-image: url(../Imagenes/Fondo/canadian-dollar.png);
  .logo {
    filter: brightness(1.1);
    mix-blend-mode: multiply;
  }
  .nombrehotel {
    color: #0e0d0d;
    grid-area: nombrehotel;
    margin-right: 5rem;
    margin-bottom: 4rem;
  }
}

.dropdown-item:hover{
  background-color: #083b0ddc;
  color: white;
}
