.finde {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
}

.fotitos {
  width: 500px;
  height: 300px;
  border: solid rebeccapurple;
  opacity: 0.5;
  margin-bottom: 3rem;
}

.fotitos:hover {
  opacity: 1;
  border: solid black;
}

.subtitulo {
  border: solid black;
  background-color: rgba(81, 236, 140, 0.842);
  padding: 1rem;
  a{
    text-decoration: none;
    color: black;
  }
}
