.sobrenos{
    background-color: rgba(180, 153, 62, 0.822);
    padding: 3rem;
    margin: 3rem 5rem 5rem 5rem;
    border-radius: 2%;
    p {
        font-size: 25px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
}