.contenedorspa {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 7%;
}

.ts {
  margin-top: 0.6rem;
  
}

.video {
  margin-top: 4rem;
}
.fotospa {
  border: solid rgb(3, 3, 3);
}

.foto1 {
  margin-bottom: 3rem;
}
