
@import "header";
@import "body";
@import "main";
@import "index";
@import "habitaciones";
@import "spa";
@import "contacto";
@import "footer";
@import "media";
@import "mixin";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


