* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-image: url(../Imagenes/Fondo/canadian-dollar.png);
}

.logo {
  filter: brightness(1.1);
  mix-blend-mode: multiply;
}

.nombrehotel {
  color: rgb(7, 7, 7);
  grid-area: nombrehotel;
  margin-right: 5rem;
  margin-bottom: 4rem;
}

h1 {
  font-family: "Aref Ruqaa", serif;
  font-size: 6rem;
}
h2 {
  font-family: "Kalam", cursive;
  font-size: 3rem;
}

.contenedor {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 0.4fr 1.8fr 1.8fr 0.3fr;
  grid-template-areas:
    "header header"
    "contenido contenido"
    "contenido contenido"
    "footer footer";
}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.contenido h2 {
  text-align: center;
}
.finde {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
}

.fotitos {
  width: 500px;
  height: 300px;
  border: solid rebeccapurple;
  opacity: 0.5;
  margin-bottom: 3rem;
}

.fotitos:hover {
  opacity: 1;
  border: solid black;
}

.subtitulo {
  border: solid black;
  background-color: rgba(81, 236, 140, 0.952);
}
.contenedorhabitacion {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.th {
  margin-top: 0.3rem;
  border: solid black;
  background-color: rgba(127, 255, 212, 0.705);
}

.cuartitos {
  height: 300px;
  width: 445px;
  transition: height 1s, width 1s;
  opacity: 0.8;
}

.cuartitos:hover {
  border: solid black;
  opacity: 1;
}

.card-group {
  margin-bottom: 10%;
  margin-top: 5%;
  width: 100%;
}

.card {
  background-color: rgba(127, 255, 212, 0.719);
}

.descripcion {
  background-color: rgba(255, 255, 255, 0.541);
  border: solid rgb(46, 137, 173);
  height: 300px;
  width: 350px;
  overflow: scroll;
  margin-top: 2rem;
}

.contenedorspa {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 7%;
}

.ts {
  margin-top: 0.3rem;
  border: solid black;
  background-color: rgba(127, 255, 212, 0.705);
}

.video {
  margin-top: 4rem;
}
.fotospa {
  border: solid black;
}

.foto1 {
  margin-bottom: 3rem;
}

.contenido {
  grid-area: contenido;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  background-color: rgb(34, 70, 57);
  background-attachment: fixed;
}

.row {
  border: solid brown;
  margin-bottom: 3rem;
  background-image: linear-gradient(
    to top,
    rgba(255, 166, 0, 0.815),
    rgba(255, 0, 0, 0.774),
    rgba(255, 192, 203, 0.795)
  );
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(2 * var(--bs-gutter-x));
  margin-left: calc(2 * var(--bs-gutter-x));
}

.tc {
  margin-top: 0.3rem;
  border: solid black;
  background-color: rgba(127, 255, 212, 0.705);
  padding-left: 26rem;
  padding-right: 27rem;
}

.footer {
  background-image: linear-gradient(
    to bottom,
    rgb(207, 245, 119),
    rgb(233, 175, 17),
    rgb(158, 12, 43)
  );
  border-top: solid black;
  padding: 2rem;
  display: grid;
  grid-column: 1fr 1fr 1fr;
  grid-row: 1fr;
  grid-template-areas: "contacto logof pago";
  justify-content: space-between;
}

.logof {
  filter: brightness(1.1);
  mix-blend-mode: multiply;
  grid-area: logof;
}

@media screen and (max-width: 768px) {
  .nombrehotel {
    font-size: 4rem;
    text-align: center;
  }

  .footer {
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr 1fr 1fr;
    grid-template-areas:
      "logof"
      "contacto"
      "pago";
    align-items: center;
    justify-items: center;
  }

  .cuartitos {
    height: 300px;
    width: 500px;
  }

  .cuartitos:hover {
    height: 300px;
    width: 500px;
  }

  .nav ul {
    flex-direction: column;
    margin-bottom: 3rem;
  }
  .fotitos {
    width: 500px;
    height: 250px;
    border: solid rebeccapurple;
    opacity: 0.5;
    margin-top: 1rem;
  }
  .ImgSpa {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .fotospa {
    margin: 10px 2px 10px 2px;
  }
  .video {
    margin-bottom: 0;
  }
}
