* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  filter: brightness(1.1);
  mix-blend-mode: multiply;
  grid-area: logo;
}

.nombrehotel {
  color: rgb(7, 7, 7);
  grid-area: nombrehotel;
  margin-right: 5rem;
}

h1 {
  font-family: "Aref Ruqaa", serif;
  font-size: 6rem;
}
h2 {
  font-family: "Kalam", cursive;
  font-size: 3rem;
}

.nav ul {
  display: flex;
  list-style: none;
  margin-top: 2rem;
  margin-right: 5rem;
  flex-direction: row;
  gap: 5rem;
  grid-area: nav;
}
.nav ul li a {
  color: black;
  text-decoration: none;
  font-size: 1.7rem;
  border: double 0.2rem;
  padding: 10px 10px 10px 10px;
}
.nav ul li a:hover {
  color: rgb(17, 2, 9);
  background-color: rgba(179, 10, 179, 0.534);
}

.contenedor {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 0.4fr 1.8fr 1.8fr 0.3fr;
  grid-template-areas:
    "header header"
    "contenido contenido"
    "contenido contenido"
    "footer footer";
}

.contenedor .header {
  background-image: url(../Imagenes/Fondo/canadian-dollar.png);
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "logo nombrehotel"
    "logo nav";
  text-align: center;
}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.contenido h2 {
  text-align: center;
}
.finde {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
}

.fotitos {
  width: 500px;
  height: 300px;
  border: solid rebeccapurple;
  opacity: 0.5;
  margin-bottom: 3rem;
}

.fotitos:hover {
  opacity: 1;
  border: solid red;
}

.subtitulo {
  border: solid black;
  background-color: rgba(81, 236, 140, 0.952);
}
.contenedorhabitacion {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.cuartitos {
  height: 300px;
  width: 500px;
  transition: height 1s, width 1s;
}
.cuartitos:hover {
  height: 500px;
  width: 800px;
}

.descripcion {
  background-color: rgba(255, 255, 255, 0.541);
  border: solid rgb(46, 137, 173);
  height: 300px;
  width: 350px;
  overflow: scroll;
}

.contenedorspa {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.video {
  margin-top: 4rem;
}
.fotospa {
  width: 400px;
  height: 250px;
  border: solid black;
  opacity: 0.6;
}
.fotospa:hover {
  opacity: 1;
}
.foto1 {
  margin-bottom: 3rem;
}
.ImgSpa {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.contenedor .contenido {
  grid-area: contenido;
  background-color: #f8ceec;
  background-image: linear-gradient(315deg, #f8ceec 0%, #a88beb 74%);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-image: linear-gradient(
    to top,
    rgb(223, 167, 65),
    rgb(214, 80, 80),
    rgb(233, 115, 135)
  );
}

.formulario {
  margin-top: 5rem;
  background-color: rgba(42, 132, 167, 0.521);
}
.tiform {
  font-size: 3rem;
}
.subtform {
  font-weight: bolder;
}

.contenedor .footer {
  background-color: darkgoldenrod;
  grid-area: footer;
}

footer {
  background-image: linear-gradient(
    to bottom,
    rgb(116, 116, 218),
    rgb(77, 199, 77)
  );
  padding: 2rem;
  display: grid;
  grid-column: 1fr 1fr;
  grid-row: 1fr;
  grid-template-areas: "contacto pago";
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .contenedor .header {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
      "logo"
      "nombrehotel"
      "nav";
    justify-content: center;
    align-items: center;
  }
  .nombrehotel {
    font-size: 4rem;
    text-align: center;
  }

  .footer {
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr 1fr;
    grid-template-areas:
      "contacto"
      "pago";
    align-items: center;
  }

  .cuartitos {
    height: 300px;
    width: 500px;
  }
  .nav ul {
    flex-direction: column;
    margin-bottom: 3rem;
  }
  .fotitos {
    width: 500px;
    height: 250px;
    border: solid rebeccapurple;
    opacity: 0.5;
    margin-top: 1rem;
  }
  .ImgSpa {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .fotospa {
    margin: 1px 1px 1px 1px;
  }
  .video {
    margin-bottom: 0;
  }
}
